In [1]:
seq = "MAAMVAAMVAALRGPSRRFRPRTRALTRGTRGAASAAGGQQSFDLLVIGGGSGGLACAKEAAQLGKKVAVADYVEPSPRGTKWGLGGTCVNVGCIPKKLMHQAALLGGMIRDAHHYGWEVAQPVQHNWKTMAEAVQNHVKSLNWGHRVQLQDRKVKYFNIKASFVDEHTVRGVDKGGKATLLSAEHIVIATGGRPRYPTQVKGALEYGITSDDIFWLKESPGKTLVVGASYVALECAGFLTGIGLDTTVMMRSIPLRGFDQQMSSLVTEHMESHGTQFLKGCVPSHIKKLPTNQLQVTWEDHASGKEDTGTFDTVLWAIGRVPETRTLNLEKAGISTNPKNQKIIVDAQEATSVPHIYAIGDVAEGRPELTPTAIKAGKLLAQRLFGKSSTLMDYSNVPTTVFTPLEYGCVGLSEEEAVALHGQEHVEVYHAYYKPLEFTVADRDASQCYIKMVCMREPPQLVLGLHFLGPNAGEVTQGFALGIKCGASYAQVMQTVGIHPTCSEEVVKLHISKRSGLEPTVTGCUG"

In [3]:
from Bio.Blast import NCBIWWW
from Bio import SeqIO
from Bio.SeqUtils import ProtParam

In [4]:
user_input = seq
result_handle = NCBIWWW.qblast("blastp", "nr", user_input)

In [5]:
database_path = "database.fasta"
database_sequences = list(SeqIO.parse(database_path, "fasta"))

In [8]:
from Bio.Blast import NCBIXML
blast_records = NCBIXML.parse(result_handle)

In [10]:
summary = []

for record in blast_records:
     for alignment in record.alignments:
          for hsp in alignment.hsps:
                # Calculate percentage identity and similarity
                identity = (hsp.identities / hsp.align_length) * 100
                similarity = (hsp.positives / hsp.align_length) * 100

                # Calculate isoelectric point for the user input and hit sequence
                user_input_pI = ProtParam.ProteinAnalysis(user_input).isoelectric_point()
                # hit_sequence = next(seq for seq in database_sequences if seq.id == alignment.hit_id)
                # hit_sequence_pI = ProtParam.ProteinAnalysis(str(hit_sequence.seq)).isoelectric_point()

                summary.append({
                    "Hit ID": alignment.hit_id,
                    "Identity": f"{identity:.2f}% identical",
                    "Similarity": f"{similarity:.2f}% similar",
                    "User Input Isoelectric Point": f"{user_input_pI:.2f}",
                    #"Hit Isoelectric Point": f"{hit_sequence_pI:.2f}"
                })

In [11]:
summary

[]

In [14]:
for record in blast_records:
    print(record)

In [19]:
# Create a temporary query sequence file
query_seq_file = "user_query.fasta"
with open(query_seq_file, "w") as file:
    file.write(f">User_Query\n{user_input}")
blast_result = run_blast(query_seq_file, database_path)

NameError: name 'run_blast' is not defined

In [3]:
import pandas as pd

In [4]:
info = pd.read_csv('info.csv')
info.head()

,dsSNP_number,intron,coding_region,utr5,utr3,upstream,downstream,synonymous,dbsnp_link,omim_link,Ref_Allele,Alt_Allele
0,rs10151958,YES,NO,NO,NO,NO,NO,NaN,https://www.ncbi.nlm.nih.gov/snp/rs10151958,NaN,T=0.102730,"C=0.897270, G=0.000000"
1,rs1061108,NO,NO,NO,YES,NO,NO,NaN,https://www.ncbi.nlm.nih.gov/snp/rs1061108#fre...,NaN,C=0.09513,G=0.90487
2,rs1956558,NO,NO,YES,NO,NO,NO,NaN,https://www.ncbi.nlm.nih.gov/snp/rs1956558#fre...,NaN,T=0.09438,C=0.90562
3,rs33912345,NO,YES,NO,NO,NO,NO,NO,https://www.ncbi.nlm.nih.gov/snp/rs33912345#va...,NaN,C=0.446417,A=0.553583
4,rs45549246,NO,YES,NO,NO,NO,NO,NO,https://www.ncbi.nlm.nih.gov/snp/rs45549246,NaN,T=0.996235,G=0.003765

In [5]:
info.fillna('N/A', inplace=True)

In [6]:
info

,dsSNP_number,intron,coding_region,utr5,utr3,upstream,downstream,synonymous,dbsnp_link,omim_link,Ref_Allele,Alt_Allele
0,rs10151958,YES,NO,NO,NO,NO,NO,N/A,https://www.ncbi.nlm.nih.gov/snp/rs10151958,N/A,T=0.102730,"C=0.897270, G=0.000000"
1,rs1061108,NO,NO,NO,YES,NO,NO,N/A,https://www.ncbi.nlm.nih.gov/snp/rs1061108#fre...,N/A,C=0.09513,G=0.90487
2,rs1956558,NO,NO,YES,NO,NO,NO,N/A,https://www.ncbi.nlm.nih.gov/snp/rs1956558#fre...,N/A,T=0.09438,C=0.90562
3,rs33912345,NO,YES,NO,NO,NO,NO,NO,https://www.ncbi.nlm.nih.gov/snp/rs33912345#va...,N/A,C=0.446417,A=0.553583
4,rs45549246,NO,YES,NO,NO,NO,NO,NO,https://www.ncbi.nlm.nih.gov/snp/rs45549246,N/A,T=0.996235,G=0.003765
...,...,...,...,...,...,...,...,...,...,...,...,...
94,rs138008996,NO,NO,NO,NO,YES,NO,N/A,https://www.ncbi.nlm.nih.gov/snp/rs138008996,N/A,C=0.99730,G=0.00270
95,rs138361636,NO,NO,NO,NO,YES,NO,N/A,https://www.ncbi.nlm.nih.gov/snp/rs138361636,N/A,C=1.00000,"G=0.00000, T=0.00000"
96,rs139669035,YES,NO,NO,NO,NO,NO,N/A,https://www.ncbi.nlm.nih.gov/snp/rs139669035,N/A,T=0.9998,C=0.0002
97,rs140916124,NO,YES,NO,NO,NO,NO,YES,https://www.ncbi.nlm.nih.gov/snp/rs140916124,N/A,G=0.99997,A=0.00003
98,rs142958302,NO,YES,NO,NO,NO,NO,NO,https://www.ncbi.nlm.nih.gov/snp/rs142958302,N/A,C=1.00000,"A=0.00000, G=0.00000"

In [7]:
info.to_csv('/home/fl118/CBB520_assignment3/info.csv', index=False)

In [9]:
info.columns

Index(['dsSNP_number', 'intron', 'coding_region', 'utr5', 'utr3', 'upstream',
       'downstream', 'synonymous ', 'dbsnp_link', 'omim_link', 'Ref_Allele',
       'Alt_Allele'],
      dtype='object')